<h1>Test {{gameId}}</h1>
<div class="grid grid-cols-16 w-96 mx-auto my-8 border border-black">
  <app-cell
    *ngFor="let cellId of idArray(256)"
    [board]="board"
    [cellId]="+cellId"
    [gameId]="gameId"
    (boardChanged)="onBoardChanged($event)"
    (gameChanged)="onGameIdChanged($event)"
  ></app-cell>
</div>
<div class="mx-auto">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-64" (click)="handleClick()">
    <div *ngIf="toggleMode">
      ⛳️ Place Flags
    </div>
    <div *ngIf="!toggleMode">
      ⛏️ Dig
    </div>
  </button>
  
</div>
