<div *ngIf="!flagLocations[cellId]">
  <div *ngIf="board[cellId]===' '" (click)="clickHandler()" (contextmenu)="rightClickHandler()" [ngClass]="'
    w-6
    h-6
    bg-hidden
  '"></div>

  <div *ngIf="isNumber(board[cellId])" (click)="numberReveal()" [ngClass]="'
    w-6
    h-6
  ' + numberArr[+board[cellId]]
  "></div>
</div>

<div *ngIf="board[cellId] == '*'" [ngClass]="'
w-6
h-6
bg-redmine'
">

</div>

<div *ngIf="flagLocations[cellId]" (click)="clickHandler()" (contextmenu)="rightClickHandler()" [ngClass]="'
  w-6
  h-6
  bg-flag
'">
</div>